
.enterprise-btn{
    position: absolute;
    bottom: 5%;
    z-index: 1111;
    display:flex
}
.enterprise-btn a{
    color: var(--achor-color);
    
     border-radius: 48px;
     padding: 24px 40px;
     font-size: 18px!important;
  
     line-height: 1;
     text-decoration: none;
     font-weight: 400;
     margin-left:15px;
     z-index: 1111;
     transition: all 0.5s ease-in-out;
     cursor: pointer;
     margin-bottom: 0px;
}
.enterprise-btn a:nth-child(1){
    border: 1px solid var( --button-background-color);
    background-color: var( --white);
}
.enterprise-btn a:nth-child(2){
    border: 1px solid var( --button-background-color);
    background-color: var( --button-background-color);
}
.spacer{
    /* height: 80px */
}
/* .text-muted{ */
    /* font-size:18px;
    font-weight:300;
    color: var( --text-color);
    text-align: center;
    padding-left: 20%; */
/* }  */
.description{
    padding: 15px 70px;
   

}
.enterprise-content{
    
    /* background-color:#f00 */
}
.enterprise-content p {
    padding-left: 100px;
}
.spacers{
    height:150px
}

 .wp-block-column .work-btn{
    background-color: #56C870;
    color: #173B3F;
    border: 1px solid #56C870;
    background-color: #56C870;
    border-radius: 48px;
    padding: 24px 40px;
    font-size: 18px!important;
    color: #173B3F;
    line-height: 1;
    text-decoration: none;
    font-weight: 400;
    transition: all .25s ease-in-out;
    cursor: pointer;
    margin-left:50%;
  

}
.enterprise-content a:hover , .work-us{
    transform: scale(1.05)
}
.wp-block-column .work-btn {
    margin-left: -1%;
}

.enter .descriptions{

    margin-left:-40%
}
@media (min-width: 320px) and (max-width: 425px) {
    .enterprise-btn{
        position: absolute;
        bottom: -50%;
        z-index: 1111;
        display:flex;
        flex-direction: column;
       
    }
    .enterprise-btn a{
        margin-bottom:15px
    }
    .spacer-1{
        /* margin-top:-200% */
    }
    .enter .descriptions{

        margin-left:0%
    }

}
@media (min-width: 678px) and (max-width:1024px){
    .enterprise-btn{
        position: absolute;
        bottom: -40%;
        z-index: 1111;
        display:flex;
       
       
    }
    .spacer-1{
        /* margin-top:-80% */
    }
    .enter .descriptions{

        margin-left:0%
    }
   
}