
/* .spacer{
    height: 80px
}
.space{
    height:48px
}
 */




  .wp-block-column h2{
    margin-left: -1%;
    padding-left: 15px;
  }
  .about-vedio-container{
    background-color: #173B3F;
    color: #fff;
    box-sizing: border-box;
    height:500px
  }
  .inner-about-vedio-container{
    padding: 0px 20px;
    max-width: 1320px;
    margin: 0px auto;
  }
  .inner-about-vedio-container h2{
    text-align: center;
    font-size: 40px;
    line-height: 48px;
    color: #fff;
    padding-top: 25px;
  }
  .inner-about-vedio-container  figure{
    margin: 0 0 1em;
    overflow-wrap: break-word;
  }
  .inner-about-vedio-container  figure iframe{
    max-width: 100%;
    display: block;
    margin: 0px auto;
  }

.block-column1-inverstor{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top:40px
}
.wp-block-column-inverstor{
  display: flex;
  flex-direction: column;
  justify-content:flex-start;

  align-items: flex-start;
  padding-left:30px
}
.wp-block-column-inverstor h2{
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  
  width: 100%;
}
.block-column1-inverstor figure{
  width: 600px;

}
.block-column1-inverstor figure img{
  width: 100%;
  margin-left:-5%
}
  @media only screen and (max-width: 600px) {
    .about-vedio-container{
      background-color: #173B3F;
      color: #fff;
      box-sizing: border-box;
      height:550px
    }
    .figures{
      columns:3;
    }
    .figure-content{
      line-height:1.8;
      background-color: #f00
    }
    .figures figure div{
    
      line-height:15px;
   
  }
  }


@media only screen and (min-width: 600px) {
  .figures{
    columns:4;
  }
  .figures figure div{
    
    line-height:15px;
 
}
}


@media only screen and (min-width: 768px) {
  .figures{
    columns:6;
  }
  .figures figure div{
    
    line-height:15px;
 
}
}

@media only screen and (min-width: 992px) {
  .figures figure div{
    
    line-height:15px;
 
}
}


@media only screen and (min-width: 1200px) {
  .figures figure div{
    
    line-height:8px;
 
}
}
