.slidersss {
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.card_slider {
  width: 300px !important;
  height: 300px;
  padding: 25px 50px;
  border-radius: 12px;
}

.card_slider_useravatar {
  display: flex;
  align-items: center;
}
.cover_Card {
  height: 50px;
}
.card_slider_useravatar img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.user_info_slider {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.content_Card_slider {
  font-size: 1rem;
  margin-top: 5px;
}
.card_slider.blue {
  background-color: #b0d6ce !important;
}

.card_slider.pink {
  background-color: #fce1e1 !important;
}
.card_slider.pink-light {
  background-color: #fdf0dc !important;
}
.card_slider.blue-light {
  background-color: #fce1e1 !important;
}
.slidersss h2{
  text-align: center;
}
@media only screen and (max-width: 600px) and (min-width: 992px) {
  .the-slider {
    width: 1500px;
  }
}
