
.slider-home{
    width:300px !important;
    background-color:#FCE1E1;
    text-align: left;
    height:300px;
    /* padding-left: 5%; */
    padding: 25px 50px;
    border-radius:12px;

}
.slider-home img{
    width: 116px;
    height: 48px;
    margin-left: 0%;
}
.slider-home .slider-home-paragraph{
    padding-right:10px;
}
.slide2{
    background-color: #EBE0FF;
}
.slide3{
    background-color: #B0D6CE;
}
.spacer{
    height:48px
}