
 .slider-home-bar img{
  width: 225px;
  height: 60px;
 }
 .side {
  background-color: #B0D6CE;
  padding-top: 36px;
  padding-bottom: 24px;
 height:250px
  /* height: 300px; */
 }

 .side h2{
  padding:10px
 }