.skills-container{
    background-color: #f8f8f8;
    padding: 25px
}
.skills-container p {
    text-align: center;
    margin: 0px auto 24px;
}
.inner-skills{
    padding: 0px 20px;
    max-width: 1320px;
    margin: 0px auto;
    display:block
}
 .inner-skills ul{
    columns: 4;
    list-style: none;
}
.inner-skills ul li{
    margin: 0px 0px 24px 0px;
}
.inner-skills ul li a {
    text-decoration: none;
    border-radius: 40px;
    border: 1px solid #f8f8f8;
    background-color: #fff;
    font-weight: 300;
    font-size: 20px;
    line-height: 48px;
    display: block;
    padding: 0px 24px;
    transition: all .15s ease-in-out!important;
    cursor: pointer;
}
 .btn-work{
     /* position:absolute; */
     border-radius: 25px;
     /* bottom: 5%; */
     /* left: 50%; */
       color: #173B3F;
       border: 1px solid var(--text-color);
       background-color:transparent;
        border-radius: 48px;
        padding: 24px 40px;
        font-size: 18px!important;
        color: #173B3F;
        line-height: 1;
        text-decoration: none;
        font-weight: 400;
        transition: all .25s ease-in-out;
        margin-left:15px;
        z-index: 1111;
        transition: all 0.5s ease-in-out;
        cursor: pointer;
        margin-left:45%
}
.btn-work:hover{
    transform: scale(1.05)
}
.spacer-2{
    height: 40px;
}
.inner-skills ul li a:hover{
    transform: scale(1.09);

}
@media only screen and (max-width: 600px) {
    .inner-skills ul{
        columns: 1;
        list-style: none;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .inner-skills ul{
        columns: 2;
        list-style: none;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .inner-skills ul{
        columns: 4;
        list-style: none;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .inner-skills ul{
        columns: 4;
        list-style: none;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}
/* @media (min-width: 320px) and (max-width: 425px) {
    .inner-skills ul{
        columns: 1;
    }
    .btn-work{
        margin-left:25px
    }
}
@media (min-width: 768px) and (max-width: 1200px) {
    .inner-skills ul{
        columns: 2;
    }
} */