.skills-container {
  background-color: #f8f8f8;
  padding: 25px;
}
.inner-skills {
  padding: 0px 20px;
  max-width: 1320px;
  margin: 0px auto;
  display: block;
}
.inner-skills ul {
  columns: 4;
  list-style: none;
}
.skillHeader{
  display:flex;
  flex-direction: column;
  justify-content:center;
  align-items:center;
  height:190px;

}
.inner-skills ul li {
  margin: 0px 0px 24px 0px;
}
.inner-skills ul li a {
  text-decoration: none;
  border-radius: 40px;
  border: 1px solid #f8f8f8;
  background-color: #fff;
  font-weight: 300;
  font-size: 20px;
  line-height: 48px;
  display: block;
  padding: 0px 24px;
  transition: all 0.15s ease-in-out !important;
  cursor: pointer;
}
.btn-work {
  border-radius: 25px;
  color: #173b3f;
  border: 1px solid var(--text-color);
  background-color: transparent;

  padding: 24px 40px;

  color: #173b3f;
  line-height: 1;
  text-decoration: none;
  /* font-weight: 400; */
  transition: all 0.25s ease-in-out;
  margin-left: 15px;
  z-index: 1111;

  /* cursor: pointer; */
  margin-left: 45%;
}
.btn-work:hover {
  transform: scale(1.05);
}
.spacer-2 {
  height: 40px;
}
.inner-skills ul li a:hover {
  transform: scale(1.09);
}
@media only screen and (max-width: 600px) {
  .inner-skills ul {
    columns: 1;
    list-style: none;
  }
}

@media only screen and (min-width: 600px) {
  .inner-skills ul {
    columns: 2;
    list-style: none;
  }
}

@media only screen and (min-width: 768px) {
  .inner-skills ul {
    columns: 4;
    list-style: none;
  }
}

@media only screen and (min-width: 992px) {
  .inner-skills ul {
    columns: 4;
    list-style: none;
  }
}