.btn {
  position: absolute;
  border-radius: 25px;
  top: 85%;
  color: var(--achor-color);
  border: 1px solid var(--button-background-color);
  background-color: var(--button-background-color);
  border-radius: 48px;
  padding: 24px 40px;
  font-size: 18px !important;
  line-height: 1;
  text-decoration: none;
  font-weight: 400;
  margin-left: 15px;
  z-index: 1111;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

.btn:hover {
  transform: scale(1.05);
}

.vedio-conatiner {
  background-color: var(--background-green);
  margin: 0 auto;
  padding-top: 40px;
  margin-top: 40px;
  height: 620px !important;
}
.vedio-inner {
  padding: 0px 20px;
  color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.vedio-inner h2 {
  color: var(--white);
}
.vedio-inner span {
  margin: 0px auto 24px;
}

.vedio-box figure {
  width: 700px;
}
.vedio-box figure a img {
  width: 100%;
  height: 100%;
}
/* .spacer-1 {
  height: 80px;
} */

.content-column {
  display: flex;
  justify-content: space-around;
  width: 100%;
  z-index: 1111;
  position: relative;
  color: var(--white);
  max-width: 1320px;
  margin: 0px auto;
}

@media only screen and (max-width: 600px) {
  .vedio-conatiner {
    height: 500px !important;
  }
  .vedio-box figure {
    width: 450px;
  }
}
@media only screen and (min-width: 600px) {
  .vedio-box figure {
    width: 550px;
  }
}

@media only screen and (min-width: 768px) {
  .vedio-box figure {
    width: 660px;
  }
}

@media only screen and (min-width: 992px) {
  .vedio-conatiner {
    height: 650px !important;
  }
  .vedio-box figure {
    width: 800px;
    height: 450px;
  }
}
