header {
  height: 100vh;
  background-position: center;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

header::before {
  position: absolute;
  content: "";
  background: radial-gradient(#16353871, #163538d2);
  top: 0;
  left: 0;
  background-size: cover;
  width: 100%;
  height: 100%;
}
.header-content{
    background-color: red;
}