.state-card-container {
  padding: 0px 20px;
  max-width: 1320px;
  margin: 0px auto;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  overflow-x: auto;
  gap: 32px;
  display: flex;
  margin-left: 0%;
}

.state {
  width: 405px;
  height: 280px;
  position: relative;
  flex-basis: auto;
  flex-grow: 0;
  flex-shrink: 0;
  text-align: center;
  border-radius: 12px;
  background-color: #b0d6ce;
}
.state-content {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  height: 100%;
  padding: 24px;
}
.button {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-left: 0;
}
.button a {
  color: #173b3f;

  font-size: 18px !important;
  color: #173b3f;
  line-height: 1;
  text-decoration: none;
  font-weight: 400;
  border: 1px solid #56c870;

  background-color: #56c870;
  cursor: pointer;
  padding: 24px 40px;
  border-radius: 48px;
  width: 40px;
  font-weight: 400;
  text-decoration: none;
  font-size: 18px;
  display: inline-block;
  width: auto;
  transition: all 0.25s ease-in-out;
  margin-left: 15px;
}
button a:hover {
  transform: scale(1.09);
}
.state-content h2 {
  font-size: 60px;
}

.state-content p {
  margin-bottom: 0px;
  font-style: italic;
  font-family: "Inria Serif", "Garamond", "Times New Roman", serif;
  color: #132128;
  padding-left: 50px;
  margin-top: -5%;
}
.state-component {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  height: 900px;
}
@media only screen and (max-width: 600px) {
    .state-component {

      
        height: 2000px;}
}
@media only screen and (min-width: 600px) {
    .state-component {
       
    
        height: 1070px;}
}
@media only screen and (min-width: 992px) {
    .state-component {


        height: 2000px;}
}
  
  @media only screen and (min-width: 992px) {
    .state-component {

   
        height: 1090px;}
  }
  
  @media only screen and (min-width: 1200px) {
    .state-component {

      
        height: 900px;}
  }