
 .side {
  background-color: #B0D6CE;
  padding-top: 36px;
  padding-bottom: 24px;
 height:250px
 
  } 
  .slider-home-bar img{
    width: 225px;
    height: 60px;
   }
   .side h2{
    text-align: center;
   }
   @media only screen and (max-width: 600px) {
    .b-side{
      width: 1000px;
    }
   }
   @media only screen and (max-width: 768px) {
    .b-side{
        width: 1000px;
      }
}