
:root {
  --background-green: #173B3F;
  --white: #ffffff;
  --button-background: #fff;
  --button-background-color: #56C870;
  --text-color: #132128;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Inter' ,sans-serif;
}
body{
  margin: 0;
}