.footer-site {
  background-color: var(--background-green);

  width: 100%;
  display: flex;
  justify-content: space-around;
  height: 320px;
  align-items: flex-start;
  padding-top: 40px;
}
.footer-logo {
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 200px;
  align-items: center;
  margin-left: 2%;
}
.box-footer-img {
  width: 100%;
  display: flex;
}
.box-footer-img img {
  width: 60%;
  height: 100%;
}

.soical-icon {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.sections {
  width: 80%;
  display: flex;
  align-items: center;
}
.footer-menu {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;

  height: 200px;
}
.footer-menu-one {
  width: 35%;
  align-items: center;
}

.footer-menu span {
  display: flex;
  flex-direction: column;
  color: var(--white);
  font-size: 14px;
}
.footer-menu span a {
  color: var(--white);
  line-height: 24px;
  font-size: 12px;
}

@media only screen and (max-width: 600px) {
  .footer-site {
    flex-direction: column;
    padding-top: 0px;
    height: 600px;
  }
  .sections {
    width: 100%;

    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-left: 15px;
  }
  .footer-menu {
    width: 50%;
  }
  .footer-menu-one {
    width: 50%;
    align-items: flex-start;
  }
  .box-footer-img img {
    width: 100%;
    height: 100%;
  }
}

@media only screen and (min-width: 600px) and (max-width: 768px) {
  .footer-site {
    flex-direction: column;
    padding-top: 0px;
    height: 600px;
  }
  .sections {
    width: 100%;

    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-left: 15px;
  }
  .footer-menu {
    width: 50%;
  }
  .footer-menu-one {
    width: 50%;
    align-items: flex-start;
  }
  .box-footer-img img {
    width: 100%;
    height: 100%;
  }
}